# Bikeshare Project

I will use this notebook to help develop my Bikeshare project.

In [4]:
import time 
import datetime
import pandas as pd 
import numpy as np

- Time module provides various time related functions (https://docs.python.org/3/library/time.html#module-time)
- Pandas documentation (https://pandas.pydata.org/pandas-docs/stable/)
- NumPy documentation (http://www.numpy.org/)

In [5]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington, dc': 'washington.csv' }

months = {'january': 31,'february': 29,'march': 31,'april': 30,'may': 31,'june': 30,'july': 31,'august': 31,
         'september': 30, 'october': 31, 'november': 30, 'december': 31}

All files must be stored in the same directory as this file.

In [6]:
def error_message(input_text):
    return "\nError: We were unable to find a match for your input of \'{}\'. Please start over and try again.".format(input_text)
    #sys.exit()

In [118]:
def continue_check(user_selection):
    if len(user_selection)<=15:
        print("We've received your selection of \'{}\'. Is this correct?".format(user_selection.title()))
        return input("\nY/N: ").upper()
    else:
        return "N"

In [ ]:
def get_filters():
    
    city_check = ""
    while city_check != 'Y':
        print("Please select a city from the following list:","\n1 - Chicago", "\n2 - New York City", "\n3 - Washington, DC")
        city = city_match(input("\nInput: "))
        
        city_check = continue_check(city)
     
    date_check = ""
    while date_check != "Y":
        print("Would you like to filter the data by:", "\n1 - Month", "\n2 - Day", "\n3 - Both", "\n4 - Neither")
        month, day = date_match(input("\nInput: "))
        
        if day != 0:
            if month != 0:
                month_name = list(months.keys())[month-1]
                selected_date = month_name + " / " + str(day)
            else:
                selected_date = day
        elif month != 0:
            selected_date = list(months.keys())[month-1]
        else:
            selected_date = "Neither"
        
        date_check = continue_check(str(selected_date))
    
    print("I am finishing up get_filters", city, month, day,type(city), type(month), type(day)) 
    return city, month, day,

Objective of get_filters() is to collect information from the user to select a dataset and apply filters across it.

In [ ]:
def city_match(response):

    temp_response = response.replace(" ", "").replace(",", "").lower()
    try:
        if temp_response.isalpha(): #check if all char in the string are alphabetic
            city = "incorrect value"
            for key in CITY_DATA.keys(): # checks that the input text is one of the cities
                if temp_response in key.replace(" ", "").replace(",", ""):
                    city = key

        elif temp_response.isalnum(): #if not all letters, check if a number and match to a key in CITY_DATA
            temp_response = int(temp_response) 
            if temp_response in range(1,4):
                list_temp = list(CITY_DATA.keys()) #creates a temporary list of the cities in CITY_DATA from the keys
                city = list_temp[temp_response - 1] #to account for list starting at 0 while the city options started at 1
            else:
                return print(error_message(response))
        else:
            return print(error_message(response)) #return an error message if can't find a match

    except Exception as e:
        return print(error_message(response), e)
    
    print("city value returned ", city, type(city))
    return city

In [ ]:
def date_match(response):
    
    #preset to 0 which will indicate that there is no value
    month = 0
    day = 0
    temp_response = response.replace(" ", "").replace(",", "").lower()
    
    try:
        if temp_response.isalpha(): #check if all char in the string are alphabetic, then matches to option based on response value
            month, day = month_day(temp_response)

        elif temp_response.isalnum(): #if not all letters
            temp_response = int(temp_response)
            if temp_response in range(1,5):
                if temp_response == 1:
                    month, day = month_day('month')
                elif temp_response == 2:
                    month, day = month_day('day')
                elif temp_response == 3:
                    month, day = month_day('both')   
        else:
            print(error_message(response)) #return an error message if can't find a match

    except Exception as e:
        print(error_message(response), e) #return an error message if can't find a match
        
    print("I am finishing up date_match", month, type(month), day, type(day))  
    return month, day

In [ ]:
def month_day(response):

    month = 0
    day = 0
    check = ""
    month_valid = ""
    day_valid = ""
    
    while check == "":
        if response == 'month' or response == 'both':
            month = int(input("Please input your designated month (MM): "))
            #if len(month) < 2: day = "0"+month
            month_valid = lambda valid: month in range(1,13) #confirms it is a valid input and saves it as a variable
            
        if response == 'day' or response == 'both':
            day = int(input("Please input your designated day (DD): "))
            #if len(day) < 2: day = "0"+day
            day_valid = lambda valid: day in range(1,32)
        
        if month_valid != 0 and day_valid != 0:
            check = 1
            
    print("I am finishing up month_day", month, type(month), day, type(day))  
    return month, day

In [120]:
def load_data(city, month, day):
    
    filename = CITY_DATA[city]
    df = pd.read_csv(filename, parse_dates=True, infer_datetime_format=True) #loads data for the specified city
    
    df['Start Time'] = pd.to_datetime(df['Start Time']) #ensure the 'Start_Time' column is in date format
    
    start_date = pd.to_datetime(date_range("2017-{}-{} 00:00:00",month,day, 0)) #desired start date and end date to filter df with
    end_date = pd.to_datetime(date_range("2017-{}-{} 23:59:59",month, day))
    
    filters = (df['Start Time'] >= start_date) & (df['End Time'] <= end_date) #set the mask to then apply to the df to filter it
        
    df = df[filters] #assign mask to df to return the rows with Start Time between specified start/end dates
    

    return df

In [ ]:
def date_range(template, month, day, start_or_end=24):
    
    mnth_lastday = 31 #preset to last day of year if day and month are empty
    
    if month != 0:
        mnth_field = int(month)
        mnth_name = list(months.keys())[mnth_field-1]
        mnth_lastday = months[mnth_name]
    else: 
        if start_or_end == 0:  #determines if it is the starting or ending date that is being composed
            mnth_field = 1
        else:
            mnth_field = 12
            
    if day != 0:
        day_field = int(day)
    else:
        if start_or_end == 0: #determines if it is the starting or ending date that is being composed
            day_field = 1
        else:
            day_field = mnth_lastday
            
    # adds a 0 to the front of any value < 10
    if mnth_field < 10: 
        mnth_field = "0"+ str(mnth_field)
    if day_field < 10:
        day_field = "0"+ str(day_field)
        
    
    return template.format(mnth_field, day_field)

In [ ]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month


    # display the most common day of week
    
#DatetimeIndex.dayofweek
#The day of the week with Monday=0, Sunday=6


    # display the most common start hour


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [ ]:
def main():
    print("Hello! Let's explore some US bikeshare data. Let\'s start by applying filters.")
    
    city, month, day = get_filters() #grabs filter values for city, month, and day   
    
    print('\n','-'*40,"\n") #prints a line to break out the interface
    
    df = load_data(city, month, day)
    #print(df)

In [119]:
if __name__ == "__main__":
    main()

Hello! Let's explore some US bikeshare data. Let's start by applying filters.
Please select a city from the following list:
1 - Chicago
2 - New York City
3 - Washington, DC

Input: 1
city value returned  chicago <class 'str'>
We've received your selection of 'Chicago'. Is this correct?

Y/N: y
Would you like to filter the data by:
1 - Month
2 - Day
3 - Both
4 - Neither

Input: 1
Please input your designated month (MM): 01
I am finishing up month_day 1 <class 'int'> 0 <class 'int'>
I am finishing up date_match 1 <class 'int'> 0 <class 'int'>
We've received your selection of 'January'. Is this correct?

Y/N: y
I am finishing up get_filters chicago 1 0 <class 'str'> <class 'int'> <class 'int'>

 ----------------------------------------
        Unnamed: 0          Start Time             End Time  Trip Duration  \
2             9031 2017-01-04 08:27:49  2017-01-04 08:34:45            416
4            45207 2017-01-17 14:53:07  2017-01-17 15:02:01            534
7            65924 2017-01-21 14:28:38  2017-01-21 14:40:41            723
11           71678 2017-01-22 15:15:45  2017-01-22 15:31:02            917
12           19061 2017-01-08 16:03:00  2017-01-08 16:07:37            277
39           93723 2017-01-26 19:45:41  2017-01-26 19:59:31            830
91           80745 2017-01-24 10:51:56  2017-01-24 11:12:04           1208
117           7325 2017-01-03 17:57:21  2017-01-03 18:06:04            523
120           1647 2017-01-01 21:06:09  2017-01-01 21:10:37            268
121          42280 2017-01-16 14:54:38  2017-01-16 15:09:03            865
130         111009 2017-01-31 18:21:03  2017-01-31 18:28:25            442
143          18745 2017-01-08 13:23:19  2017-01-08 13:28:52            333
167          77795 2017-01-23 18:50:16  2017-01-23 18:56:43            387
187          16793 2017-01-06 20:23:15  2017-01-06 20:27:54            279
202          52837 2017-01-18 21:57:14  2017-01-18 22:25:04           1670
208          58222 2017-01-20 08:33:57  2017-01-20 08:38:31            274
210          56772 2017-01-19 17:20:47  2017-01-19 17:34:44            837
234           1188 2017-01-01 16:09:40  2017-01-01 16:16:08            388
236          42046 2017-01-16 11:29:52  2017-01-16 11:43:56            844
237         111057 2017-01-31 18:26:13  2017-01-31 18:40:10            837
245          23796 2017-01-10 07:41:37  2017-01-10 07:51:07            570
253          73287 2017-01-23 07:21:14  2017-01-23 07:32:39            685
256           3680 2017-01-02 23:40:20  2017-01-02 23:45:25            305
269          85518 2017-01-25 08:19:40  2017-01-25 08:21:23            103
273          26335 2017-01-10 20:10:26  2017-01-10 20:15:12            286
291          89092 2017-01-25 19:39:44  2017-01-25 19:42:31            167
341          11199 2017-01-04 19:03:21  2017-01-04 19:12:46            565
363          69116 2017-01-21 19:36:21  2017-01-21 19:47:51            690
366          25278 2017-01-10 16:49:27  2017-01-10 16:53:48            261
383          65411 2017-01-21 13:55:46  2017-01-21 14:00:45            299
...            ...                 ...                  ...            ...
299640       28732 2017-01-11 12:47:22  2017-01-11 12:55:12            470
299642       77439 2017-01-23 18:07:06  2017-01-23 18:21:31            865
299643       51875 2017-01-18 17:59:31  2017-01-18 18:02:21            170
299653       58261 2017-01-20 08:37:10  2017-01-20 08:41:35            265
299685       55719 2017-01-19 14:39:17  2017-01-19 14:53:50            873
299687       27889 2017-01-11 08:48:26  2017-01-11 09:01:57            811
299722       90301 2017-01-26 08:12:38  2017-01-26 08:24:50            732
299738       43287 2017-01-17 07:20:40  2017-01-17 07:25:29            289
299741       35872 2017-01-13 16:36:04  2017-01-13 16:58:25           1341
299752       40281 2017-01-15 13:49:32  2017-01-15 13:54:19            287
299764       51378 2017-01-18 17:17:31  2017-01-18 17:22:40            309
299777       58962 2017-01-20 11:45:57  2017-01-20 12:11:57           1560
299778       54846 2017-01-19 10:06:06  2017-01-19 10:16:01            595
299836       97277 2017-01-27 16:54:54  2017-01-27 17:00:43            349
299841       92858 2017-01-26 17:28:48  2017-01-26 17:53:23           1475
299848       29927 2017-01-11 17:28:23  2017-01-11 17:45:57           1054
299854      102458 2017-01-30 06:00:33  2017-01-30 06:06:29            356
299857       12909 2017-01-05 14:21:57  2017-01-05 15:05:23           2606
299859        8622 2017-01-04 07:31:47  2017-01-04 07:43:12            685
299878      106323 2017-01-30 19:08:04  2017-01-30 19:11:47            223
299896       49190 2017-01-18 09:04:00  2017-01-18 09:10:55            415
299897       51411 2017-01-18 17:19:48  2017-01-18 17:31:28            700
299908       69745 2017-01-22 02:29:02  2017-01-22 02:33:26            264
299920       25427 2017-01-10 17:08:28  2017-01-10 17:24:28            960
299946       69412 2017-01-21 21:29:40  2017-01-21 21:44:59            919
299958      108699 2017-01-31 11:44:34  2017-01-31 11:52:17            463
299972       44015 2017-01-17 08:42:37  2017-01-17 08:53:20            643
299975       49643 2017-01-18 11:28:36  2017-01-18 11:31:14            158
299993       68299 2017-01-21 17:16:02  2017-01-21 17:55:11           2349
299995       64825 2017-01-21 13:18:00  2017-01-21 13:27:50            590

                         Start Station                        End Station  \
2                   May St & Taylor St                Wood St & Taylor St
4               Clark St & Randolph St       Desplaines St & Jackson Blvd
7           Larrabee St & Kingsbury St         Larrabee St & Armitage Ave
11      Southport Ave & Wellington Ave             Clark St & Schiller St
12               Green St & Madison St           Ada St & Washington Blvd
39                McClurg Ct & Erie St       Clinton St & Washington Blvd
91             Streeter Dr & Grand Ave           Canal St & Monroe St (*)
117          Artesian Ave & Hubbard St           Damen Ave & Augusta Blvd
120          Sedgwick St & Webster Ave        Halsted St & Wrightwood Ave
121                       Field Museum                    Millennium Park
130      Ravenswood Ave & Lawrence Ave     Lincoln Ave & Belle Plaine Ave
143             State St & Harrison St                 Wells St & Polk St
167         Indiana Ave & Roosevelt Rd       Michigan Ave & Washington St
187     Sheffield Ave & Wellington Ave        Lincoln Ave & Diversey Pkwy
202       St. Louis Ave & Balmoral Ave             Kedzie Ave & Palmer Ct
208             Kedzie Ave & Palmer Ct     California Ave & Milwaukee Ave
210        Western Ave & Winnebago Ave            Western Ave & Walton St
234       Cornell Ave & Hyde Park Blvd            Greenwood Ave & 47th St
236      Pine Grove Ave & Waveland Ave  Ravenswood Ave & Montrose Ave (*)
237            Franklin St & Monroe St           McClurg Ct & Illinois St
245       Michigan Ave & Washington St                Morgan St & Lake St
253          Artesian Ave & Hubbard St    Racine Ave (May St) & Fulton St
256        Lincoln Ave & Diversey Pkwy          Lincoln Ave & Belmont Ave
269          Clark St & Wellington Ave     Sheffield Ave & Wellington Ave
273             Damen Ave & Pierce Ave          Ashland Ave & Division St
291             Halsted St & Willow St       Sheffield Ave & Kingsbury St
341         Greenview Ave & Jarvis Ave           Sheridan Rd & Loyola Ave
363            Broadway & Cornelia Ave               Broadway & Argyle St
366            Franklin St & Monroe St           Clark St & Congress Pkwy
383         Sheridan Rd & Montrose Ave             Broadway & Sheridan Rd
...                                ...                                ...
299640       Columbus Dr & Randolph St          Wacker Dr & Washington St
299642          Dearborn St & Adams St             Michigan Ave & 18th St
299643    Sheridan Rd & Irving Park Rd    Pine Grove Ave & Irving Park Rd
299653          Clinton St & Tilden St            Franklin St & Monroe St
299685       Desplaines St & Kinzie St          Sedgwick St & Webster Ave
299687         Orleans St & Elm St (*)       Stetson Ave & South Water St
299722        Wells St & Evergreen Ave              Franklin St & Lake St
299738           Canal St & Madison St          Desplaines St & Kinzie St
299741        Kedzie Ave & Chicago Ave          Kimball Ave & Belmont Ave
299752   Ravenswood Ave & Lawrence Ave       Ravenswood Ave & Berteau Ave
299764     Dearborn Pkwy & Delaware Pl           Wells St & Evergreen Ave
299777     Campbell Ave & Montrose Ave            Clark St & Armitage Ave
299778       Clinton St & Jackson Blvd         Racine Ave & Congress Pkwy
299836       Columbus Dr & Randolph St            Streeter Dr & Grand Ave
299841             Wells St & Huron St         Wilton Ave & Diversey Pkwy
299848   Halsted St & Blackhawk St (*)          Clinton St & Jackson Blvd
299854            Orleans St & Ohio St              Canal St & Madison St
299857       Michigan Ave & Pearson St             Wabash Ave & Wacker Pl
299859         Clark St & Armitage Ave              Michigan Ave & Oak St
299878       Ashland Ave & Division St            Damen Ave & Division St
299896              Wells St & Polk St            Dearborn St & Monroe St
299897              Daley Center Plaza               Rush St & Hubbard St
299908              State St & 33rd St               Rhodes Ave & 32nd St
299920       Clinton St & Jackson Blvd             Damen Ave & Madison St
299946           Dayton St & North Ave             Leavitt St & North Ave
299958      Indiana Ave & Roosevelt Rd          Michigan Ave & Madison St
299972     Racine Ave & Wrightwood Ave          Clark St & Wellington Ave
299975           Dayton St & North Ave       Sheffield Ave & Kingsbury St
299993       Lake Shore Dr & Monroe St               McClurg Ct & Erie St
299995         Orleans St & Elm St (*)        Sheffield Ave & Webster Ave

         User Type  Gender  Birth Year
2       Subscriber    Male      1981.0
4       Subscriber    Male      1975.0
7         Customer     NaN         NaN
11      Subscriber    Male      1964.0
12      Subscriber    Male      1961.0
39      Subscriber    Male      1977.0
91      Subscriber    Male      1985.0
117     Subscriber    Male      1989.0
120     Subscriber    Male      1984.0
121     Subscriber    Male      1992.0
130     Subscriber    Male      1967.0
143     Subscriber    Male      1954.0
167     Subscriber    Male      1990.0
187     Subscriber    Male      1990.0
202     Subscriber    Male      1978.0
208     Subscriber  Female      1988.0
210     Subscriber    Male      1956.0
234     Subscriber    Male      1966.0
236     Subscriber  Female      1990.0
237     Subscriber  Female      1988.0
245     Subscriber    Male      1986.0
253     Subscriber    Male      1972.0
256     Subscriber    Male      1987.0
269     Subscriber    Male      1988.0
273     Subscriber    Male      1983.0
291     Subscriber    Male      1984.0
341     Subscriber    Male      1981.0
363     Subscriber    Male      1988.0
366     Subscriber    Male      1968.0
383     Subscriber  Female      1995.0
...            ...     ...         ...
299640  Subscriber    Male      1956.0
299642  Subscriber    Male      1985.0
299643  Subscriber  Female      1968.0
299653  Subscriber  Female      1993.0
299685  Subscriber    Male      1984.0
299687  Subscriber    Male      1991.0
299722  Subscriber  Female      1984.0
299738  Subscriber    Male      1985.0
299741  Subscriber    Male      1975.0
299752  Subscriber    Male      1994.0
299764  Subscriber    Male      1978.0
299777  Subscriber    Male      1990.0
299778  Subscriber    Male      1987.0
299836  Subscriber    Male      1983.0
299841  Subscriber  Female      1992.0
299848  Subscriber    Male      1987.0
299854  Subscriber    Male      1993.0
299857    Customer     NaN         NaN
299859  Subscriber  Female      1975.0
299878  Subscriber  Female      1983.0
299896  Subscriber  Female      1979.0
299897  Subscriber    Male      1991.0
299908  Subscriber    Male      1993.0
299920  Subscriber    Male      1988.0
299946  Subscriber    Male      1986.0
299958  Subscriber  Female      1966.0
299972  Subscriber  Female      1978.0
299975  Subscriber    Male      1958.0
299993    Customer     NaN         NaN
299995  Subscriber    Male      1965.0

[21809 rows x 9 columns]

23

'h'